<template>
  <div class="hello">
    <v-carousel hide-delimiters
      height="350"
      hide-delimiter-background
      show-arrows-on-hover>
      <v-carousel-item
        v-for="(item,i) in items"
        :key="i"
        :src="item.src"
      ></v-carousel-item>
    </v-carousel>
  </div>
</template>

<script>
export default {
  name: 'AppBanner',
  props: {
    msg: String
  },
  data () {
      return {
        items: [
          {
            src: 'https://res.cloudinary.com/digitalstrings/image/upload/v1611529459/worksample/Grapevine_SHOP_Banner_l3iqqy.png',
          },
          {
            src: 'https://res.cloudinary.com/digitalstrings/image/upload/v1611529482/worksample/d4mzgz6-759ea18e-d6bc-4757-a01a-afe3077fccab_mdffix.jpg',
          },
          {
            src: 'https://res.cloudinary.com/digitalstrings/image/upload/v1611529479/worksample/banner-shop_cjxee5.gif',
          },
          {
            src: 'https://res.cloudinary.com/digitalstrings/image/upload/v1611529725/worksample/shoppingimages_niax0n.jpg',
          },
        ],
      }
    },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
