<template>
  <v-container>
    <v-row>
      <v-col cols="12" xs="12" sm="12" md="8" >
        <v-card>
          <v-card-text>
            <v-row>
              <v-subheader @click="handleSelectAll">Select all items</v-subheader>
            </v-row>
            <v-divider/>
            <v-row v-for="cartItem in cart" v-bind:key='cartItem.id'>
              <v-col md=1 sm="1">
                <v-checkbox v-model="cartItem.isSelected" @click="computeSubtotal"/>
              </v-col>
              <v-col md="2" sm="11">
                <v-img
                    height="150"
                    width="150"
                    v-bind:src="cartItem.item.img"
                    contain
                  ></v-img>
              </v-col>
              <v-col md="6" sm="12">
                <v-card-title>{{cartItem.item.caption}}</v-card-title>
                <v-row align="center">
                  <v-col md="1">
                    <v-subheader>
                      Qty
                    </v-subheader>
                  </v-col>
                  <v-col md="2" >
                    <v-select 
                      v-show='!cartItem.renderTxt' 
                      width="20" v-bind:items="items" v-model="cartItem.quantity" v-on:change="handleQuantityChange(cartItem, $event)"></v-select>
                    <v-text-field 
                      v-show='cartItem.renderTxt' 
                      width="20" v-model="cartItem.quantity" v-on:change="handleQuantityChange(cartItem, $event)"></v-text-field>
                  </v-col>
                </v-row>
              </v-col>
              <v-col md="2">
                &#8358;{{formatAmount(cartItem.item.price)}}
              </v-col>
            </v-row>
            <v-divider/>
            <v-row >
              <v-col></v-col>
            </v-row>
          </v-card-text>
        </v-card>
      </v-col>
      <v-col cols="12" xs="12" sm="12"  md="4" >
        <v-card>
          <v-card-text>Sub-Total is &#8358;{{formatAmount(subtotal)}}</v-card-text>
          
          <v-card-actions align = "center">            
            <v-Btn color="primary" @click="checkout">Proceed to Checkout</v-Btn>
          </v-card-actions> 

          <v-card-text>            
            <v-dialog
              v-model="dialog"
              width="500"
            >
              <v-card>
                <v-card-title>
                  New Order
                </v-card-title>

                <v-card-text>
                  Your order is being procesed
                </v-card-text>
                
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <!-- <v-btn
                    color="primary"
                    text
                    @click="dialog = false"
                  >
                    OK
                  </v-btn> -->
                </v-card-actions>
              </v-card>
            </v-dialog>  
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </v-container> 
</template>

<script>

import axios from 'axios'
import * as authHelper from '../util/AuthHelper'

export default {
  name: 'AppCart',
  components : {
    
  },
  props: {
    msg: String
  },
  data(){
    return {
      items:[1,2,3,4,5,6,7,8,9,"10+"],
      cart:[],
      subtotal:0,
      dialog: false,

    }
  },
  methods:{
    handleSelectAll(){
      console.log("Sellect all")
    },
    computeSubtotal(){
      //re-compute subtotal
      this.subtotal = this.cart.reduce(function(acc,obj){
        return (obj.isSelected) ? acc + (obj.item.price * obj.quantity) : acc
      }, 0)
    },
    selectAll(){
      this.cart.forEach(item => {
        item.isSelected = true
      });
    },
    initQtyInput(){
      this.cart.forEach(item => {
        item.renderTxt = item.quantity > 9
      });
    },
    handleQuantityChange(item, event){

      if("10+" == event){
        item.quantity = 10
      }
      else{
        item.quantity = event
      }

      console.log(item.quantity)
      
      item.renderTxt = item.quantity > 9

      this.computeSubtotal()

      //update in backend      
      const apihosturl = process.env.VUE_APP_URL

      //get auth header
      const {Authorization} = authHelper.authHeader()

      //call backend to execute update
      const config = {
          headers: {
            Authorization
          }
      }

      axios.post(`${apihosturl}/cart`, item, config)
    },
    async checkout(){
      
      const orderItems = this.cart
        //filter out selected items
        .filter((cartItem)=>{return cartItem.isSelected})
        //create order request items from selected cart items
        .map((cartItem)=>{
          const {id} = cartItem
          return {cart_item_id:id}
        })

      //if other items is not empty post order
      if(orderItems.length > 0){
        const orderData = {items:orderItems}
      
        const apihosturl = process.env.VUE_APP_URL
        //get auth header
        const {Authorization} = authHelper.authHeader()
        //fetch cart
        const config = {
          headers: {
            Authorization
          }
        }
        await axios.post(`${apihosturl}/orders`, orderData, config)
        this.dialog = true
        
        //const orderItems = this.cart
        //filter out un-selected items
        this.cart = this.cart.filter((cartItem)=>{return !cartItem.isSelected})
      }
    },
    formatAmount(amount){
      return amount.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    }
  },
  computed:{
  },
  async created(){
    
    const apihosturl = process.env.VUE_APP_URL

    //get auth header
    const {Authorization} = authHelper.authHeader()

    //fetch cart
    const config = {
      headers: {
        Authorization
      }
    }

    const response = await axios.get(`${apihosturl}/cart`, config)
    this.cart = response.data

    this.initQtyInput()
    this.selectAll()
    this.computeSubtotal()
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
