<template>
  <div class="hello">
    <v-card
      class="mx-auto my-12"
      max-width="374"
      v-on:click="onclickCategory"
    >
      <v-card-title>{{category.caption}}</v-card-title>

      <v-img
        height="250"
        v-bind:src="category.img"
        contain
      ></v-img>

      <v-card-actions>
        <v-btn
          color="deep-purple lighten-2"
          text
          @click="more"
        >
          See More
        </v-btn>
      </v-card-actions>
    </v-card>
  </div>
</template>

<script>
export default {
  name: 'AppCategory',
  props: {
    category:{
      id:"",
      caption:"",
      img:""
    }
  },
  data: () => ({
  }),

  methods: {
    more () {
      // this.loading = true

      // setTimeout(() => (this.loading = false), 2000)
    },
    onclickCategory(){
      //navigate to item detail page
      //this.$router.push({ path: `/search?category=${this.category.id}`})
      this.$router.push({ path: `/search?phrase=&category=${this.category.id}`})
    }
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
