<template>
  <div class="hello">
    <app-banner/>
    <app-shopping-groups/>
    <app-item-listing v-bind:listing='trending'/>
    <app-item-listing v-bind:listing='recommendation'/>
    <app-item-listing v-bind:listing='recentlyViewed'/>
  </div>
</template>

<script>
import AppBanner from './AppBanner'
import AppItemListing from './AppItemListing.vue'
import AppShoppingGroups from './AppShoppingGroups.vue'
import { mapGetters, mapActions } from 'vuex'

export default {
  name: 'AppHome',
  components : {
    'app-banner':AppBanner,
    'app-shopping-groups':AppShoppingGroups,
    'app-item-listing':AppItemListing
  },
  props: {
    msg: String
  },
  data(){
    return{
      // recommendation:{
      //   title:"Recommendation",
      //   items:[]
      // },
      // recentlyViewed:{
      //   title:"Recently viewed",
      //   items:[]
      // }
    }
  },
  methods:{
    ...mapActions(['fetchTrending', 'fetchRecommendation', 'fetchRecentlyViewed']),
  },
  computed: mapGetters(['trending', 'recommendation', 'recentlyViewed']),
  created(){
    console.log("Use created (life cycle method) to populate page with data by making calls on axios")
    this.fetchTrending()
    this.fetchRecommendation()
    this.fetchRecentlyViewed()
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
