<template>
  <div class="hello">
    <v-card
      class="mx-auto"
      max-width="374"
      v-on:click ="onclickItem"
    >

      <v-img
        height="250"
        v-bind:src="item.img"
        contain 
      ></v-img>
      
      <v-card-title>{{item.caption}}</v-card-title>

      <v-card-text>
        <v-row
          align="center"
          class="mx-0"
        >
          <v-rating
            :value="4.5"
            color="amber"
            dense
            half-increments
            readonly
            size="14"
          ></v-rating>

          <div class="grey--text ml-4">
            4.5 (413)
          </div>
        </v-row>

        <div>$50</div>
      </v-card-text>
    </v-card>
  </div>
</template>

<script>
export default {
  name: 'AppCategory',
  props: {
    msg: String,
    item:{
      id:'',
      img:'',
      description:'',
      rating:'',
      ratingPopulation:'',
      price:''
    }
  }, 
  
  data(){
    return {
      
    }
  },
  methods: {
    more () {
      // this.loading = true

      // setTimeout(() => (this.loading = false), 2000)
    },
    onclickItem(){
      //navigate to item detail page
      this.$router.push({ path: `/items/${this.item.id}` })
    }
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
