<template>
  <div class="hello">
    <app-product-detail/>
    <v-container>
      <v-subheader>Product description</v-subheader>
      <article>{{item.description}}</article>
    </v-container>
    <app-item-listing v-bind:listing='relatedProducts'/>
    <app-product-information v-bind:item='item'/>
    <app-item-listing v-bind:listing='similarProducts'/>
    <app-product-comments v-bind:comments="comments"/>
  </div>
</template>

<script>

import AppProductDetail from "./AppProductDetail.vue"
import AppItemListing from "./AppItemListing.vue"
import AppProductInformation from "./AppProductInformation.vue"
import AppProductComments from "./AppProductComments.vue"
import axios from 'axios'


export default {
  name: 'AppItemDetail',
  components : {
    "app-product-detail":AppProductDetail,
    "app-item-listing":AppItemListing,
    "app-product-information":AppProductInformation,
    "app-product-comments":AppProductComments
  },
  props: {
    msg: String
  },
  data(){
    return {
      id:this.$route.params.id,
      item:{
      },
      similarProducts:{},
      relatedProducts:{},
      comments:{
        summary:{},
      items:[
        {
          id:"",
          img:"https://cdn.vuetifyjs.com/images/cards/cooking.png"
        },
        {
          id:"",
          img:"https://cdn.vuetifyjs.com/images/cards/cooking.png"
        }
      ]
      }
    }
  },
  computed:{    
  },
  async created(){
    
    const apihosturl = process.env.VUE_APP_URL

    //fetch item
    const itemResponse = await axios.get(`${apihosturl}/items/${this.id}`)
    this.item = itemResponse.data

    //fetch related products
    const response = await axios.get(apihosturl+'/items')
    this.relatedProducts = {
        title:"Related Products",
        items:response.data
      }

    //fetch similar products
    const response2 = await axios.get(apihosturl+'/items')
    this.similarProducts = {
        title:"Similar Products",
        items:response2.data
      }    
  }
}

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
