<template>
  <div class="hello">
    <v-container>  
    <v-subheader>{{listing.title}}</v-subheader>
      <v-slide-group
        
        class="pa-4"
        active-class="success"
        show-arrows>
        <v-slide-item
            v-for="item in listing.items"
            :key="item.id"
          >
            <v-card              
              class="ma-4 d-flex align-center"
              height="200"
              width="200"
              v-on:click="onclickItem(item.id)"
            >
              <v-img
                height="250"
                v-bind:src="item.img"
                contain
              ></v-img>
            </v-card>
          </v-slide-item>
      </v-slide-group>
    </v-container>
  </div>
</template>

<script>
export default {
  name: 'AppItemListing',
  props: {
    listing:{
      title:"Title",
      items:[{}]
    }
  },
  data(){
    return{      
    }
  },
  methods: {
    onclickItem(id){
      //navigate to item detail page
      this.$router.push({path: `/items/${id}`})
    }
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
