<template>
  <v-container>
    <v-row v-for="order in orders" v-bind:key="order.id">
      <v-col>
        <v-card>
          <v-card-title>
            #Order{{order.id}}
          </v-card-title>
          <v-card-text>
            <div>{{`Subtotal: &#8358;${formatAmount(computeSubtotal(order.order_items))}`}}</div>
            <div>{{`Date: ${formatDate(order.created_at)}`}}</div>
          </v-card-text>
          <v-card-text>
            <v-row v-for="order_item in order.order_items" v-bind:key="order_item.id">
                <v-col md="2" sm="12">
                  <v-img
                      height="150"
                      width="150"
                      v-bind:src="order_item.item.img"
                      contain
                    ></v-img>
                </v-col>
                <v-col md="10" sm="12">
                  <v-card elevation="0"> 
                    <v-card-title>{{order_item.item.caption}}</v-card-title>
                    <v-card-text>&#8358;{{formatAmount(order_item.price)}}</v-card-text>
                    <v-card-text>{{`Qty ${order_item.quantity}`}}</v-card-text>
                  </v-card>
                </v-col>
            </v-row>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </v-container> 
</template>

<script>

import axios from 'axios'
import * as authHelper from '../util/AuthHelper'
import moment from 'moment'

export default {
  name: 'AppOrders',
  components : {
    
  },
  props: {
  },
  data(){
    return {
      orders:{}
    }
  },
  methods:{
    computeSubtotal(orderItems){
      //re-compute subtotal
      const subtotal = orderItems.reduce(function(acc,obj){
        return acc + (obj.price * obj.quantity)
      }, 0)

      return subtotal
    },
    formatDate(dateTime){
      return moment(dateTime).format('MMMM Do YYYY')
    },
    formatAmount(amount){
      return amount.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    }
  },
  async created(){
    
    const apihosturl = process.env.VUE_APP_URL

    //get auth header
    const {Authorization} = authHelper.authHeader()

    //fetch cart
    const config = {
      headers: {
        Authorization
      }
    }

    const response = await axios.get(`${apihosturl}/orders`, config)
    this.orders = response.data
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
