<template>
  <div>
    <v-container>  
    <v-subheader>Comments</v-subheader>

      <v-row>
        <v-col md=4 sm=12> 
          <v-card>
            <v-card-text>Comment summary</v-card-text>
          </v-card>
        </v-col>
        <v-col md=8 sm=12>
          <v-row v-for="comment in comments.items" v-bind:key="comment">
            <app-product-comment v-bind:comment="comment"/>
          </v-row>
        </v-col>
      </v-row>
    
      
    </v-container>
  </div>
</template>

<script>
import AppProductComment from "./AppProductComment.vue"

export default {
  name: 'AppProductComments',
  components:{
    "app-product-comment": AppProductComment
  },
  props: { 
    comments:{
      summary:{},
      items:[
        {
          id:"",
          img:"https://cdn.vuetifyjs.com/images/cards/cooking.png"
        },
        {
          id:"",
          img:"https://cdn.vuetifyjs.com/images/cards/cooking.png"
        }
      ]
    }
  },
  data(){
    return{
    }
  },
  methods: {
    
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
