<template>
  <div class="hello">
    <v-container>  
      <v-row>
        <v-col md=4>
          <v-img
                width="50"
                height="50"
                v-bind:src="comment.img"
              ></v-img>
          </v-col>
        <v-col md=8>
          <v-subheader>Name</v-subheader>
        </v-col>
      </v-row>
      <div>
        <v-rating
          v-model="rating"
          color="yellow darken-3"
          background-color="grey darken-1"
          empty-icon="$ratingFull"
          half-increments
          hover
          readonly
        ></v-rating>
      </div>
      <article>Long Note here</article>  
    </v-container>
  </div>
</template>

<script>
export default {
  name: 'AppProductComment',
  props: {        
      comment:{
        id:"",
        img:"https://cdn.vuetifyjs.com/images/cards/cooking.png"
      }
  },
  data(){
    return{
    }
  },
  methods: {
    
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
