<template>
  <div class="hello">
    <v-container>  
    <v-subheader>Product Information</v-subheader>
      <v-row v-for='inf in info' v-bind:key='inf.id'>
        <v-col md= 3 sm = 4>{{inf.caption}}</v-col>
        <v-col md= 9 sm = 8>{{inf.value}}</v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>

import axios from 'axios'

export default {
  name: 'AppProductInformation',
  props: {        
      item:{}
  },
  data(){
    return{
      id:this.$route.params.id,
      info:[],
    }
  },
  methods: {
    
  },
  async created(){
    
    const apihosturl = process.env.VUE_APP_URL

    //fetch item
    const infoResponse = await axios.get(`${apihosturl}/items/${this.id}/product_info`)
    this.info = infoResponse.data
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
