<template>
  <v-item-group mandatory>
    <v-container>
      <v-row>
        <!--Section with product tumbnail-->
        <v-col md="1" sm="2">
          <v-row
            v-for="image in images"
            :key="image.id"
          >
            <v-col>
              <v-item v-slot="{ active, toggle }">
                <v-card
                  :color="active ? 'primary' : ''"
                  class="d-flex align-center"
                  height="50"
                  width="50"
                  @click="toggle"
                >
                  <v-scroll-y-transition>
                    <v-img
                      height="50"
                      width="50"
                      v-bind:src='image.thumbnail_url'
                      contain 
                  ></v-img>
                  </v-scroll-y-transition>
                </v-card>
              </v-item>
            </v-col>
          </v-row>
        </v-col>
        <!--Section with pictorial representation of product-->
        <v-col md="5" sm=10>
          <v-row justify="center">
            <v-card
              :color="active ? 'primary' : ''"
              class="d-flex align-center"
              height="600"
            >             
                <v-img
                  height="600"
                  width="600"
                  v-bind:src='item.img'
                  contain
              ></v-img>
            </v-card>
          </v-row>
        </v-col>
        <!--Section with textual description and price of product-->
        <v-col md="6">
          <v-card
            class="elevation-0"
          >
            <v-card-title class="headline">
              {{item.caption}}
            </v-card-title>
            <v-card-text>
              {{item.description}}
              <div>&#8358;{{formatAmount(item.price)}}</div>

              <div>
                <v-rating
                  v-model="rating"
                  color="yellow darken-3"
                  background-color="grey darken-1"
                  empty-icon="$ratingFull"
                  half-increments
                  hover
                  readonly
                ></v-rating>
              </div>

              <v-btn
                    depressed
                    color="primary"
                    v-on:click="addItemToCart"
                  >
                    Add to cart
              </v-btn>

              <v-dialog
                v-model="dialog"
                width="500"
              >
                <v-card>
                  <v-card-title>
                    Item added to cart
                  </v-card-title>

                  <v-card-text>
                    Your order has been added to cart
                  </v-card-text>
                  
                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn
                      color="primary"
                      text
                      @click="dialog = false"
                    >
                      OK
                    </v-btn>
                  </v-card-actions>
                </v-card>
              </v-dialog>
            </v-card-text>
          </v-card>     
        </v-col>
      </v-row>
    </v-container>
  </v-item-group>
</template>

<script>

import axios from 'axios'
import * as authHelper from '../util/AuthHelper'

export default {
  name: 'AppItemDetail',
  components : { 
  },
  props: {      
  },
  data(){
    return {
      id:this.$route.params.id,
      item:{},
      dialog: false,
      images:[]
    }
  },
  methods:{
    async addItemToCart(){
      
      const data = {item_id:this.item.id, quantity:1}

      const apihosturl = process.env.VUE_APP_URL
      //get auth header
      const {Authorization} = authHelper.authHeader()
      //fetch cart
      const config = {
        headers: {
          Authorization
        }
      }

      try{
        const response = await axios.post(`${apihosturl}/cart`, data, config)
        console.log(response.statusCode)
        this.dialog = true     
      }catch(ex){
        console.log(ex)
      }
    },
    formatAmount(amount){
      return amount.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    }
  },
  async created(){
    
    const apihosturl = process.env.VUE_APP_URL    

    //fetch item
    const itemResponse = await axios.get(`${apihosturl}/items/${this.id}`)
    this.item = itemResponse.data

    //fetch item images
    const response = await axios.get(`${apihosturl}/items/${this.item.id}/images`)
    this.images = response.data
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
