<template>
  <div class="hello">
     <v-form>
        <v-container>
          <v-row align="center">
            <v-col cols="3">
              <v-select
                  v-model="select"
                  :items="items"
                  item-text="caption"
                  item-value="id"
                  label="Select"
                  persistent-hint
                  return-object
                  single-line></v-select>
            </v-col>
            <v-col cols="7">
              <v-text-field placeholder="Search" v-model="phrase"></v-text-field>
            </v-col>
            <v-col cols="2">              
              <v-btn icon v-on:click ="onclickSearch">
                <v-icon>mdi-magnify</v-icon>
              </v-btn>
            </v-col>
          </v-row>
        </v-container>
     </v-form>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'

export default {
  name: 'AppSearchBar',
  props: {
    msg: String
  },
  data () {
      return {
        phrase:'',
        select: { caption: 'All', id: 'all' }
      }
    },
  methods:{
    ...mapActions(['fetchCategories']),
    onclickSearch(){
      //navigate to search result page
      this.$router.push({ path: `/search?category=${this.select.id}&phrase=${this.phrase}` })
      //this.phrase = ""
    }
  },
  computed: {
    ...mapGetters(['categories']),
    items(){
      //append item for all categories to the list of categories
      var cats = [...this.categories]
      console.log(cats)
      var allCategory = { caption: 'All', id: 'all'}
      cats.push(allCategory)
      console.log(cats)
      return cats
    }
  },
  created(){
    this.fetchCategories()
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
