<template>
  <div class="hello">
    <v-form @submit.prevent="handleSubmit">
      <v-container>
        <v-row justify="center">
          <v-col
            cols="12"
            sm="10"
            md="6"
            lg="4">
            <v-card ref="form">
              <v-card-text>
                <v-text-field
                  label="Email"
                  v-model="email"
                  prepend-icon="mdi-email-outline"
                ></v-text-field>
                <v-text-field
                  prepend-icon="mdi-lock-outline"
                  v-model="password"
                  :append-icon="show_eye ? 'mdi-eye' : 'mdi-eye-off'"
                  :rules="[rules.required, rules.min]"
                  :type="show_eye ? 'text' : 'password'"
                  name="input-10-1"
                  label="Password"
                  hint="At least 8 characters"
                  counter
                  @click:append="show_eye = !show_eye"
                ></v-text-field>

                <v-card-actions class="justify-center">
                  <v-btn
                    color="primary"
                    @click="handleSubmit"
                  >Sign in</v-btn>
                </v-card-actions>
                <v-card-actions class="justify-center">
                  <router-link class="routerLink" to="/register">Register</router-link>
                </v-card-actions>
              </v-card-text>
            </v-card>  
          </v-col>  
        </v-row>
      </v-container>
    </v-form>
  </div>
</template>

<script>

import { mapGetters, mapActions } from 'vuex'

export default {
  name: 'AppSignin',
  components : {
  },
  props: {
  },
  data(){
    return {
      show_eye: false,
      email:'',
      password:'',
      rules: {
        required: value => !!value || 'Required.',
        min: v => v.length >= 8 || 'Min 8 characters',
        emailMatch: () => (`The email and password you entered don't match`),
      }
    }
  },
  methods:{
    ...mapActions(['login']),
    handleSubmit (e) {
      console.log(e)
        //this.submitted = true;
        const { email, password } = this;
        if (email && password) {
            const url = '/'
            this.login({ email, password, url })
        }
    }
  },
  computed: mapGetters([])
}
</script> 

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.routerLink{
     text-decoration: none;
 }
</style>
