<template>
  <v-container>
    <v-row>
      <v-col v-for="category in categories" v-bind:key="category.id"
      xs="12"
      sm="6"
      md="3"
      >
        <app-category v-bind:category='category'/>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import AppCategory from './AppCategory.vue'
import { mapGetters, mapActions } from 'vuex'

export default {
  name: 'AppShopingGroups',
  props: {
    msg: String
  },
  components: {
    'app-category':AppCategory
  },
  data(){
    return {
      
    }
  },
  methods:{
    ...mapActions(['fetchCategories']),
  },
  computed: mapGetters(['categories']),
  created(){
    this.fetchCategories()
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
