<template>
  <div class="hello">
    <v-container>
      <v-row>
        <v-col v-for="item in items" v-bind:key="item.id"
        xs="12"
        sm="6"
        md="3"
        >
          <app-item-mini v-bind:item="item"/>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>

import axios from 'axios'
import * as authHelper from '../util/AuthHelper'
import AppItemMini from './AppItemMini.vue'
import { mapGetters, mapActions } from 'vuex'

export default {
  name: 'AppSearchResult',
  components: {
    'app-item-mini':AppItemMini
  },
  props: {
    msg: String
  }, 
  data: () => ({  
    items:[],
  }),
  methods:{
    ...mapActions(['fetchRecentlyViewed']),
  },
  computed: mapGetters(['recentlyViewed']),
  async created(){
    this.fetchRecentlyViewed()
  
    const category = this.$route.query.category    
    const phrase = this.$route.query.phrase
    const apihosturl = process.env.VUE_APP_URL

    //get auth header
    const {Authorization} = authHelper.authHeader()

    //fetch cart
    const config = {
      headers: {
        Authorization
      }
    }

    //const response = await axios.get(`${apihosturl}/items?phrase=all&category=1`, config)
    const response = await axios.get(`${apihosturl}/items?phrase=${phrase}&category=${category}`, config)
    this.items = response.data
  },
  // async created(){

  //   //this.fetchRecentlyViewed()

  //   //console.log(this.$route.query)

  //   //const category = this.$route.query.category
  //   //const phrase = this.$route.query.phrase

  //   const apihosturl = process.env.VUE_APP_URL

  //   //get auth header
  //   const {Authorization} = authHelper.authHeader()

  //   //fetch cart
  //   const config = {
  //     headers: {
  //       Authorization
  //     }
  //   }

  //   const response = await axios.get(`${apihosturl}/items?phrase=all&category=1`, config)
  //   //const response = await axios.get(`${apihosturl}/items?phrase=${phrase}&category=${category}`, config)
  //   this.items = response.data
  //   //console.log(response.data)
  // }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
