<template>
  <v-app>

    <v-navigation-drawer app 
      v-model="drawer"
      absolute
      temporary>
      <v-list-item-group
          v-model="group"
          active-class="text--accent-4"
        >
          <v-list-item @click='handleRouteHome'>
            <v-list-item-icon>
              <v-icon>mdi-home</v-icon>
            </v-list-item-icon>
            <v-list-item-title>Home</v-list-item-title>
          </v-list-item>

          <v-list-item @click='handleRouteProfile'>
            <v-list-item-icon>
              <v-icon>mdi-account</v-icon>
            </v-list-item-icon>
            <v-list-item-title>Account</v-list-item-title>
          </v-list-item>

          <v-list-item @click='handleLogOut'> 
            <v-list-item-icon>
              <v-icon>mdi-account</v-icon>
            </v-list-item-icon>
            <v-list-item-title>Sign Out</v-list-item-title>
          </v-list-item>
        </v-list-item-group>
    </v-navigation-drawer>

    <v-app-bar
      app
      color="primary"
      dark
    >
        <router-link to="/">  
          <v-img
            width="75"
            height="30"
            src="https://media.discordapp.net/attachments/760490120469151834/794129746862538782/wrk.png"
          ></v-img>
          <!-- <v-btn icon>
            <v-icon>mdi-home</v-icon>
          </v-btn> -->
        </router-link>
      <!-- <v-toolbar-title>Page title</v-toolbar-title> -->

      <v-spacer></v-spacer>

      <router-link to="/signin">
        <v-btn
          color="primary"
          elevation="0">
          Sign in
        </v-btn>
      </router-link>

      <router-link to="/orders">
        <v-btn 
          color="primary"
          elevation="0">
          Orders
        </v-btn>
      </router-link>

      <router-link to="/cart">
        <v-btn icon>
          <v-icon>mdi-cart-outline</v-icon>
        </v-btn>
      </router-link>

      <template v-slot:extension> 
        <v-app-bar-nav-icon @click="drawer = true"/> 
        <app-search-bar/>
      </template>
    </v-app-bar>
    
    <!-- Sizes your content based upon application components -->
    <v-main>
      <!-- Provides the application the proper gutter -->
      <v-container fluid>
        <!-- To use vue-router -->
        <!-- v-bind:key='$route.fullPath make the pages reload on link change this is needed for item listings to navigate properly-->
        <router-view v-bind:key='$route.fullPath'></router-view>
      </v-container>
    </v-main>

    <v-footer app>
      <app-footer/>
    </v-footer>
  </v-app>
</template>

<script>
//import HelloWorld from './components/HelloWorld';
//import AppHome from './components/AppHome.vue'
import AppFooter from './components/AppFooter.vue'
import AppSearchBar from './components/AppSearchBar.vue'

import { mapActions } from 'vuex'

export default {
  name: 'App',

  components: {
    //HelloWorld,
    //'app-home':AppHome,
    'app-footer':AppFooter,
    'app-search-bar':AppSearchBar
  },
  data(){
    return {
      drawer: false,
      group: null,
    }
  },
  methods:{
    ...mapActions(['logout']),
    handleLogOut(){
      this.logout()
      this.drawer = false
    },
    handleRouteHome(){
      //navigate to home page
      this.$router.push({path: `/`})
      this.drawer = false
    },
    handleRouteProfile(){
      //navigate to home page
      this.$router.push({path: `/profile`})
      this.drawer = false
    }
  }

};
</script>
